.dropdown-menu {
    width: 250px !important;
}
.form-group{
    margin: 5px;
}

.form #btnLogin{
    margin: 5px;
}

.btn{
    margin-right: 5px; 
}

.hide{
  display:none;  
}

.success{
    color: green;
    font-size: 20px;
}
.error{
    color: red;
    font-size: 20px;
} 

.modal{
    padding-top: 80px;
}